*{
    margin:0;
    padding: 0;
}

.timeline ul{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background-color: white;
}

.timeline li{
    cursor: pointer;
    font-size: 3em;
    list-style-type:none ;
}

.timeline li:hover{
    color: blue;
}

#container{
    width: max-content;
    height: max-content;
}

#map{
    overflow: visible;
    background-image: url("../img/background-992858_1280.png");
    min-width: 170vw;
    min-height: 170vh;
}

.countryinfo{
    display: none;
    position: fixed;
    top:5%;
    right:0;
    width: 500px;
    height: fit-content;
    max-height: 90%;
    overflow: scroll;
    background-color: white;
    border-top-left-radius: 8px;
    border: 10px solid #cbc2c2;
}

h1{
    font-size: 50px;
}

svg text{
    font-family: "Papyrus",fantasy;
    font-size: 2vh;
    font-weight: bold;
    opacity: 0.7;
}

svg path{
    cursor: pointer;
}
/* 国家信息样式*/
.countryinfo{
    display: none;
    position: fixed;
    top:10%;
    right:1%;
    width: 600px;
    height: fit-content;
    max-height: 70%;
    padding: 30px;
    overflow: scroll;
    background-color: white;
    border-radius: 8px;
    border: 10px solid white;
}
/* 各国家信息文本 */
.countryinfo::-webkit-scrollbar{
    display: none; //隐藏滚动条
}
.countryinfo p{
    font-family:system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,
    Microsoft Yahei
    sans-serif;
    font-size: 25px;
    white-space: pre-line;//合并空白符序列，保留换行符
    padding: 10px;
    border: none;
    color: #444444;
}

.countryinfo h1{
    font-size: 30px;
    font-family:system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,
    Microsoft Yahei
    sans-serif;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 1px solid #999999;
}

/* 时间轴样式 */
.timeline{
    position: fixed;
    bottom: 0;
    /*height: fit-content;*/
    width: 100vw;
}
.timeline ul{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #faf2cc;

}
.timeline li{
    font-size: 3em;
    list-style-type:none ;
    text-align: center;
    border-right: 10px solid #FDC830;
    cursor: pointer;
}
.timeline li:nth-child(1){
    border-left: 20px solid #2e6da4;
}
.timeline li:last-child{
    border-right: 20px solid #2e6da4;
    //TODO：最右侧效果未应用
}
.timeline li:hover{
    font-weight: bold;
    color: #2e6da4;
}

