*{
    margin:0;
    padding: 0;

}

/*body{
    display: flex;
    justify-content: center;
}*/

.timeline{
    position: fixed;
    bottom: 0;
    /*height: fit-content;*/
    width: 100vw;
    background-color: #9d9d9d;

}

.timeline ul{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background-color: white;
}

.timeline li{
    cursor: pointer;
    font-size: 3em;
    list-style-type:none ;
}
.timeline li:hover{
    color: blue;
}

svg{
    overflow: visible;
    background-image: url("../img/background-992858_1280.png");
}

.countryinfo{
    display: none;
    position: fixed;
    top:10%;
    right:0;
    width: 600px;
    height: 70%;
    overflow: scroll;
    background-color: white;
    border-top-left-radius: 8px;
    border: 10px solid #cbc2c2;
}

h1{
    font-size: 50px;
}

p{
    font-family:  "微软雅黑";
    font-size: 25px;
}

svg text{
    font-family: "Papyrus",fantasy;
    font-size: 2vh;
    font-weight: bold;
    opacity: 0.7;
}

svg path{
    cursor: pointer;
}
/* 各国家信息文本 */
.countryinfo p{
    font-size: 26px;
    border: 18px solid #fff;
}
.countryinfo h1{
    font-size: 30px;
    text-align: center;
}

/* 时间轴样式 */
.timeline ul{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #faf2cc;
}
.timeline li{
    text-align: center;
    border-right: 10px solid #FDC830;
}
.timeline li:nth-child(1){
    border-left: 20px solid #2e6da4;
}
.timeline li:last-child{
    border-right: 20px solid #2e6da4;
    //TODO：最右侧效果未应用
}
.timeline li:hover{
    font-weight: bold;
    color: #2e6da4;
}

